.title{
	display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}


.download{
	display: block;
    margin-left: 10px;
    color: orange;
}