
.panel-heading{
	color: orange;
	margin-bottom: 40px;
	text-align: center;
	margin-top: 40px;
}
.col-md-1 img {
	width: 100px;
	max-height: 100px;
	 border: 1px solid #ddd;
     border-radius: 3px;
     border-color: orange;
     padding: 10px;
     margin-left: 30px;

}

.col-md-12 {
	padding-top: 7px;
	padding-bottom: 7px; 

}

.pull-right{
	color: orange;
}

.col-md-12:last-child {
	font-size: 11px; 
	background: #f1f1f1;
}

.row{
	margin-bottom: 40px;

}

.row-text{
	margin-left: 180px;
	margin-top: -100px;
	margin-right: 30px;
}


 .col-md-1  {
	padding-top: 15px;

}
