*{
	font-family: verdana;
}

.filter_bar{
	float: left;
	height: 1000px;
	background-color: #ffc342;
	width: 15%;
	list-style: none;
	list-style-type: none;
}

.item_bar{
	float: left;
	margin-left: 3%;
	height: 700px;
	width: 77%;
}

.main_body{
	overflow: auto;
}

.category_filter_element input{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 10px;
}

.filtr_btn{
	font-size: 18px;
  	background-color: orange;
  	color: white;
  	padding: 16px 20px;
  	text-align: center;
  	border: solid 2px;
  	border-style: all;
  	cursor: pointer;
  	width: 40%;
  	margin-left: 20%;
	margin-top: 30px;
	transition-duration: 0.4s;
}

.filtr_btn:hover{
	background-color: rgb(226, 137, 3);
}

/* Main body index */

.item{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}

.item_bar{
	border-style: solid 1px;
}

.item .item_photo{
	width: 200px;
	height: 200px;
}

.item .add_to_cart{
	width: 45px;
	height: 35px;
}

.item_bar li{
	list-style: none;
}


/* Pagination in item_list */
  .pagination{
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 200px;
	  margin-top: 50px;
	  margin-bottom: 50px;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd; /* Gray */
  }
  
  .pagination a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .pagination a:hover:not(.active) {
	  background-color: #ddd;
  }
  
  .center {
	text-align: center;
  }

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 110px;
	height: 120px;
	animation: spin 2s linear infinite;
	overflow: hidden;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .center{
	margin-left: auto;
	margin-right: auto;
	width: 120px;
  }