<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sklep Budowlany MirBud</title>

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.3.2.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
      integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- VueToast -->
    <script src="https://cdn.jsdelivr.net/npm/vue-toast-notification"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/vue-toast-notification/dist/theme-sugar.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style_item_list.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/stylekoszyk.css" />
  </head>

  <body>
    <div class="main_body">
      <ul class="filter_bar">
        <category-checkbox
          v-for="category in categories"
          v-bind:category="category.nazwaKategorii"
          v-bind:category_id="category.id"
        ></category-checkbox>
        <input
          @click="filter"
          class="filtr_btn"
          type="submit"
          value="Generuj"
          name="filter_btn"
        />
      </ul>

      <h1 style="margin-right: 20px"><pre class="tab">Generuj raport</pre></h1>
      <div style="display: flexbox">
        <label for="date_from"><b>Zakres daty od</b></label>
        <br />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="miesiąc"
          style="width: 50px"
          v-model="startMonth"
          required
        />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="dzień"
          style="width: 40px"
          v-model="startDay"
          required
        />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="rok"
          style="width: 40px"
          v-model="startYear"
          required
        />
        <br />
        <label for="data_do"><b>Zakres daty do</b></label>
        <br />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="miesiąc"
          style="width: 50px"
          v-model="endMonth"
          required
        />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="dzień"
          style="width: 40px"
          v-model="endDay"
          required
        />
        <input
          type="text"
          id="date_from"
          name="date_from"
          placeholder="rok"
          style="width: 40px"
          v-model="endYear"
          required
        />
        <br />
      </div>
      <h2>Profit: {{this.profit}} zł</h2>
      <div
        style="
          display: flex;
          margin-right: 20px;
          flex-direction: column;
          height: 10%;
        "
      >
        <section class="container content-section">
          <div class="cart-row">
            <span class="cart-price cart-header cart-column">ID</span>
            <span class="cart-price cart-header cart-column">Nazwa</span>
            <span class="cart-price cart-header cart-column">Ilość</span>
            <span class="cart-price cart-header cart-column">Zysk</span>
          </div>
          <ul class="manager-list">
            <report
              v-for="item in items"
              v-bind:key="item.id"
              v-bind:item_id="item.id"
              v-bind:item_ilosc="item.ilosc"
              v-bind:item_nazwa="item.nazwa"
              v-bind:item_zysk="item.zysk"
            ></report>
          </ul>
        </section>
      </div>
    </div>
    <script src="js/logging_script.js"></script>
    <!-- Category Checkbox -->
    <script
      type="text/javascript"
      src="js/category_checkbox_component.js"
    ></script>
    <script src="js/report.js"></script>
	<script src="js/report_component.js"></script>
  </body>
</html>
